extends ./layout.pug
block title
    title 스마트 가이드 관리자 페이지
block content
    h1 운영자 페이지입니다.
    button(name="viewSuggest" class="selectButton") 건물 제안 보기
    button(name="viewBdgInfo" class="selectButton") 건물 정보 보기