extends ./layout.pug
block title
    title 건물 정보 관리 페이지
block content
    h1(align="center") 건물 정보 관리 페이지입니다.
    div(name="bdgInfoBoard" class="bdgInfoBoard")
    script(src="../views/scripts/bdgInfoPage.js")