extends ./userlayout.pug
block title
    title 스마트 가이드
    style
        include css/page.css	
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
block content
    h1(align="center") 스마트 가이드
    p
    p
    p
    p(align="center") 검색을 원하는 건물 이름을 입력하세요!
    p
    p
    p
    div(class="searchForm")
        form(class="w3-container" action="/bdgInfo" method="GET")
            input(type="text" name="BdgName" class="w3-input" id="searchBar")
            p
            input(type="submit" margin="0 auto" class="searchButton" value="검색")
