style
    include css/nav.css
div(id="topmenu")
  nav(role="navigation" id="access")
    ul(id="menu")
        li <!--(class="active")-->
            a(class="icon-home" href="/admin") 메인 화면
        li
            a(class="icon-leaf" href="./suggest") 건물 제안 관리
        li
            a(class="icon-picture" href="./bdg") 건물 정보 관리